---
layout: default
title: Kasper Mikiewicz - Front-End developer, designer and writer
page-class: page--home
---

<ul class="posts">
	{% for post in paginator.posts %}
	<li>
		<h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<div class="post__date">{{ post.date | date: "%d %B, %Y" }}</div>
	</li>
	{% endfor %}
</ul>
<!-- /.posts -->

<ul class="nav  pagination">
	<li class="pagination__prev">
		{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/">Previous</a>
		{% else %}
			<a href="/page{{paginator.previous_page}}">Previous</a>
		{% endif %}
		{% else %}
			Previous
		{% endif %}
	</li><!--

 --><li class="pagination__next">
		{% if paginator.next_page %}
			<a href="/page{{paginator.next_page}}">Next</a>
		{% else %}
			Next
		{% endif %}
	</li>
</ul>
<!-- /.pagination -->