---
author:
 name: Kasper Mikiewicz
 username: Idered
 gplus: 116964578938339291040
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

	<!-- @see developer.mozilla.org/en-US/docs/Controlling_DNS_prefetching -->
	<link rel="dns-prefetch" href="//p.twitter.com">
	<link rel="dns-prefetch" href="//cdn.api.twitter.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//platform.twitter.com">

	<title>{{page.title}}</title>

	<link rel="stylesheet" href="/ui/style.css">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

	<link rel="shortcut icon" href="/favicon.gif">
    <link rel="apple-touch-icon-precomposed" href="/favicon.gif">
    <meta name="apple-mobile-web-app-title" content="csswizardry">
    <meta name="description" content="">

	<!-- @see codular.com/google-author-image -->
	<link rel="author" href="https://plus.google.com/{{page.author.gplus}}/posts">

	<!-- @see ogp.me -->
	<meta property="og:title" content="{{page.title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{page.description}}" />
	<meta property="og:url" content="{{page.url}}">

	<!-- @see dev.twitter.com/docs/cards -->
	<meta property="twitter:title" content="{{page.title}}">
	<meta property="twitter:creator" content="@{{page.author.username}}">
	<meta property="twitter:card" content="summary">
	<meta property="twitter:description" content="{{page.description}}">
	<meta property="twitter:url" content="{{page.url}}">
</head>
<body class="{{page.page-class}}">


<div class="main wrapper">

	<aside class="sidebar">

		<a href="/" rel="index" class="site-name fx--opacity">
			Kasper.<span>Mikiewicz</span>
		</a>
		<!-- /.site-name -->

		<ul class="nav nav--stacked site-nav">
			<li class="site-nav__about"><a href="/about-me">About me</a></li>
			<li class="site-nav__projects"><a href="/projects">Projects</a></li>
			<li class="site-nav__contact"><a href="/contact">Contact</a></li>
		</ul>
		<!-- /.nav.site-nav -->

		<p class="sidebar__about-me">Hello, I’m Kasper. I’m 21 years old <b>designer</b>, <b>developer</b> and <b>writer</b> from Poland. I like to <a href="http://twitter.com/Idered">tweet</a>, <a href="http://idered.pl/archive">write</a>, <a href="http://dribbble.com/Idered">design</a> and <a href="http://github.com/Idered">share my code</a>.</p>

		<p class="footer">
			2013 &copy; <a href="http://twitter.com/Idered">Kasper Mikiewicz</a>.
		</p>

	</aside>
	<!-- /.sidebar -->

	<div class="content">
		{{content}}
	</div>
	<!-- /.content -->

</div>
<!-- /.main  -->

<script>
	var scripts = {
		'twitter-wjs'   : '//platform.twitter.com/widgets.js',
		'analytics'     : ('https:'==location.protocol?'//ssl':'//www') + '.google-analytics.com/ga.js'
	}, script, _gaq=[['_setAccount','UA-18366146-6'],['_trackPageview']];

	for (var id in scripts) {
		script = document.createElement('script'); script.src = scripts[id];
		script.id = id;script.type = 'text/javascript'; script.async = true;
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
	}
</script>
<script src="/ui/js/jquery.js"></script>
<script src="/ui/js/plugins.js"></script>
<script src="/ui/js/script.js"></script>
</body>
</html>